<% include wrap/header %>

<p>Hello Login</p>
<form>
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <input type="submit">
</form>

<% include wrap/footer %>
